// Settings

:root {
    --font-family: 'Kanit', sans-serif;

    --bg-blue: #007bff;
    --bg-red: #dc3545;
    --bg-green: #28a745;
    --bg-yellow: #ffc107;
    --bg-purple: #6f42c1;
    --bg-pink: #e83e8c;
    
}

