$max-viewport-mb: 768;

@function get-vw-mb($target) {
    $vw-context: (
        $max-viewport-mb * .01) * 1px;
    @return ($target/$vw-context) * 1vw;
}
.section-course {
    width: 100%;
    height: 1920px;
    background-color: #f4f9ff;
}
.container-headline-course {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
