$max-viewport-nb: 1919;
$max-viewport-mb: 768;

@function get-vw-nb($target) {
  $vw-context: ($max-viewport-nb * 0.01) * 1px;
  @return ($target/$vw-context) * 1vw;
}

@function get-vw-mb($target) {
  $vw-context: ($max-viewport-mb * 0.01) * 1px;
  @return ($target/$vw-context) * 1vw;
}

html, body {
  background-color: var(--color-light-surface);
}
.register-container {
  padding-bottom: 80px;
  background-color: var(--color-light-surface);
}
.text-error {
  color: var(--color-error-text);
}

/**************** ขนาดหน้าจอ ไม่เกิน 1919  ****************/
@media (max-width: 1919px) {
  .register-container {
    padding-bottom: get-vw-nb(80px);
  }
}

/**************** ขนาดหน้าจอ ไม่เกิน 768  ****************/
@media (max-width: 768px) {
  .register-container {
    padding-bottom: get-vw-mb(80px);
  }
}
