$max-viewport-dt: 1919;
$max-viewport-mb: 768;

@function get-vw-dt($target) {
    $vw-context: (
        $max-viewport-dt * .01) * 1px;
    @return ($target/$vw-context) * 1vw;
}

@function get-vw-mb($target) {
    $vw-context: (
        $max-viewport-mb * .01) * 1px;
    @return ($target/$vw-context) * 1vw;
}
.text-drakble {
    color: #2d4c9d;
}
// .section-service {
//     position: relative;
//     background-image: url("../images/course/BG-section-2.png");
//     background-size: 100% auto;
//     background-repeat: repeat;
//     min-height: 100dvh;
//     padding-bottom: 120px;
// }

// .section-service-bg {
//     background-image: url("../images/course/BG-section.jpg");
//     background-size: 100% auto;
//     background-repeat: no-repeat;
//     display: flex;
//     flex-direction: column;
// }
.course-list-info {
    background-color: #fff;
    box-shadow: 1px 0px 12px 5px rgba(0, 0, 0, 0.11);
}
.text-activity {
    position: relative;
    overflow: hidden;
    padding-top: 14px;
}
.img-icon {
    position: unset;
    display: inherit;
}
.span-text-content {
    font-family: "gotham-book";
}
.date-text {
    position: absolute;
    bottom: -1px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 175px;
    height: 37px;
    border-radius: 12px 0 0;
    background-color: #f0f6ff;
    transform: skewX(-14deg);
    transition: background-color 0.25s ease;
}

.text-date-1 {
    transform: skewX(14deg);
}
.text-drakblue {
    color: #435b9a;
}
.text-lingblue {
    color: #2172eb;
}
.detail-text-activity-eng {
    font-family: 'gothammedium';
}
@media (max-width: 1919px) {
    // .section-service {
    //     padding-bottom: get-vw-dt(120px);
    // }
    .course-list-info {
        box-shadow: get-vw-dt(1px) get-vw-dt(0px) get-vw-dt(12px) get-vw-dt(5px) rgba(0, 0, 0, 0.11);
    }
    .text-activity {
        padding-top: get-vw-dt(14px);
    }
    .date-text {
        bottom: get-vw-dt(-1px);
        width: get-vw-dt(175px);
        height: get-vw-dt(37px);
        border-radius: get-vw-dt(12px) 0 0;
    }
}

@media (max-width: 768px) {
    .text-drakble {
        color: #2d4c9d;
    }
    // .section-service {
    //     position: relative;
    //     background-image: url("../images/course/BG-section-2.png");
    //     background-size: 100% auto;
    //     background-repeat: repeat;
    //     min-height: 100dvh;
    //     padding-bottom: get-vw-mb(120px);
    // }
    
    // .section-service-bg {
    //     background-image: url("../images/course/BG-section.jpg");
    //     background-size: 100% auto;
    //     background-repeat: no-repeat;
    //     display: flex;
    //     flex-direction: column;
    // }
    .course-list-info {
        background-color: #fff;
        box-shadow: get-vw-mb(1px) get-vw-mb(0px) get-vw-mb(12px) get-vw-mb(5px) rgba(0, 0, 0, 0.11);
    }
    .text-activity {
        position: relative;
        overflow: hidden;
        padding-top: get-vw-mb(14px);
    }
    .img-icon {
        position: unset;
        display: inherit;
    }
    .span-text-content {
        font-family: "gotham-book";
    }
    .date-text {
        position: absolute;
        bottom: get-vw-mb(-1px);
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: get-vw-mb(175px);
        height: get-vw-mb(37px);
        border-radius: get-vw-mb(12px) 0 0;
        background-color: #f0f6ff;
        transform: skewX(-14deg);
        transition: background-color 0.25s ease;
    }
    
    .text-date-1 {
        transform: skewX(14deg);
    }
    .text-drakblue {
        color: #435b9a;
    }
    .text-lingblue {
        color: #2172eb;
    }
    .detail-text-activity-eng {
        font-family: 'gothammedium';
    }
}