@charset "UTF-8";
/* ===== Forms ===== */
.h-full-dvh {
  height: 100dvh;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.scrollbar-none {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  -webkit-overflow-scrolling: touch;
}

.translateX-minus-1-2 {
  transform: translateX(-50%);
}

.hide-header-footer {
  display: none !important;
}

input,
select,
textarea {
  font-family: var(--font-family);
  width: 100%;
  padding: 12px 16px;
  border: 1px solid #d1d5db;
  border-radius: 17px;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  border-color: var(--color-blue);
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.5);
}

.input-error,
.register-form-input.input-error:not(:placeholder-shown),
.otp-input.input-error {
  border-color: var(--color-red) !important;
}

.text-error {
  color: var(--color-error-text);
}

.input-error:focus, .otp-input.input-error:focus {
  border-color: var(--color-red);
  box-shadow: 0 0 0 3px rgba(239, 68, 68, 0.5);
}

.otp-input-error,
.register-form-input.otp-input-error:not(:placeholder-shown),
.otp-input.otp-input-error {
  border-color: var(--color-red-base) !important;
}

.otp-input-error:focus, .otp-input.otp-input-error:focus {
  border-color: var(--color-red-base);
  box-shadow: 0 0 0 3px rgba(239, 68, 68, 0.5);
}

/* border */
.border-color-blue {
  border: 3.5px solid var(--color-blue);
}

/* ===== Buttons ===== */
button {
  transition: all 0.1s;
  font-family: var(--font-family);
}

/* ===== Images ===== */
.object-cover {
  object-fit: cover;
}

/* ===== Specific Components ===== */
.register-container {
  background-color: var(--color-light-surface);
  min-height: 100vh;
  transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000px;
  -webkit-font-smoothing: antialiased;
}

.register-header {
  background-image: url("../../../public/register/swan_head.png");
  background-size: 100% auto;
  background-position: bottom center;
  background-repeat: no-repeat;
}

.register-profile-img {
  border: 10px solid #f6f9fc;
  box-shadow: 0 3px 4px rgba(69, 114, 167, 0.35);
  transform: translate(-50%, 126px);
}

.register-profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-exceeds-w-box {
  width: calc(100% + 80px);
}

button.underline {
  text-underline-offset: 7px;
}

/* Tabs */
.tab-active {
  border-color: var(--color-blue);
  color: #2563eb;
}

.tab-inactive {
  border-color: #e5e7eb;
  color: #6b7280;
}

.customer-tab {
  border: 2px solid var(--color-gray-regular);
}

.customer-tab-active {
  border: 3px solid var(--color-blue);
}

.customer-tab-text {
  transform: translate(-50%, -50%);
}

/* Checkbox */
.checkbox-container {
  border-style: solid;
  border-width: 0;
  border-radius: 0 0 10px 0;
}

.checkbox-checked {
  background-color: var(--color-blue);
  border-color: var(--color-blue);
  color: #ffffff;
}

.checkbox-unchecked {
  background-color: var(--color-gray-regular);
  border-color: var(--color-gray-regular);
  color: var(--color-gray-regular);
}

/* Register Form */
.register-form {
  will-change: transform;
  transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000;
  -webkit-font-smoothing: antialiased;
}

.register-form-input {
  border: 2px solid var(--color-gray-regular);
  transition: border-color 0.1s ease, color 0.1s ease;
}

/* Placeholder: สีเทา */
.register-form-input::placeholder,
.register-form-input::-webkit-input-placeholder,
.register-form-input:-moz-placeholder,
.register-form-input::-moz-placeholder,
.register-form-input:-ms-input-placeholder,
.register-form-input::-ms-input-placeholder {
  transition: color 0.1s ease;
}

/* เมื่อ focus → ทุกอย่างเป็นสีฟ้า */
.register-form-input:focus {
  color: var(--color-blue-deep) !important;
}

/* ถ้าไม่ได้แสดง placeholder = มี value แล้ว */
.register-form-input:not(:placeholder-shown) {
  border-color: var(--color-blue);
  outline: none;
}

/* OTP Input */
.otp-input {
  border: 3px solid var(--color-blue);
  transition: border-color 0.1s ease, color 0.1s ease;
  letter-spacing: 20px;
}

.otp-input:placeholder-shown {
  letter-spacing: 22px;
  font-size: 40px;
}

.otp-input:focus {
  outline: none;
  border-color: var(--color-blue);
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.5);
}

.otp-input::placeholder {
  color: var(--color-blue); /* สี placeholder ฟ้า */
  opacity: 1; /* เพื่อให้แสดงสีชัดเจนในบาง Browser */
}

/* PDPA Modal */
.pdpa-modal {
  inset: 0;
  z-index: 50;
}

.pdpa-modal:before {
  content: "";
  background: black;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.4;
}

.pdpa-content {
  background-color: var(--color-light-surface);
  box-shadow: 0px 1px 13px #4572a7;
}

.headText-pdpa {
  color: var(--color-blue);
  display: inline;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
}

.box-text-pdpa {
  background-image: url("../../../public/register/shadow_pdpa.png");
  background-size: 100% auto;
  background-position: bottom center;
  background-repeat: no-repeat;
}

/*Success Page*/
.success-container {
  background-color: #ffffff;
  min-height: 100vh;
  transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000px;
  -webkit-font-smoothing: antialiased;
}

.character-divider {
  border-bottom: 1px solid #b5b5b5;
  width: 490px;
}

.check-icon-complete {
  margin-top: -86px;
}

.successSkeleton-title {
  margin-top: -15px;
}

@keyframes scale-pulse {
  0% {
    transform: scale(1);
    filter: brightness(1);
  }
  50% {
    transform: scale(1.32); /* ขยายชัดเจนขึ้น */
    filter: brightness(1.1); /* เพิ่มความสว่าง */
  }
  100% {
    transform: scale(1);
    filter: brightness(1);
  }
}
/* Confirmation Page */
.confirm-data {
  margin-left: -35px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.confirm-data-box {
  gap: 40px 0;
}

/* สำหรับ Chrome/Safari autofill */
input.register-form-input:-webkit-autofill,
input.register-form-input:-webkit-autofill:focus,
input.register-form-input:-webkit-autofill:hover,
input.register-form-input:-webkit-autofill:active {
  -webkit-text-fill-color: var(--color-blue-deep);
  transition: background-color 1s ease-in-out 0s;
  /* เพิ่มตรงนี้เพื่อเปลี่ยนพื้นหลัง autofill เป็นสีขาว */
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  box-shadow: 0 0 0px 1000px white inset !important;
}

input.register-form-input.text-input-error:-webkit-autofill,
input.register-form-input.text-input-error:-webkit-autofill:focus,
input.register-form-input.text-input-error:-webkit-autofill:hover,
input.register-form-input.text-input-error:-webkit-autofill:active {
  -webkit-text-fill-color: var(--color-red);
}

.text-input-error {
  color: var(--color-red);
}

.customer-tab {
  will-change: transform;
  transform: translateZ(0);
  backface-visibility: hidden;
  transition: border-color 0.1s ease;
}

.customer-tab-active {
  border: 3px solid var(--color-blue);
  will-change: transform;
  transform: translateZ(0);
  backface-visibility: hidden;
}

.register-form-input {
  will-change: transform;
  transform: translateZ(0);
  backface-visibility: hidden;
  transition: border-color 0.1s ease, color 0.1s ease;
}

/* ปรับปรุง transition ของ tab */
.customer-tab,
.customer-tab-active {
  transition: all 0.1s ease;
  transform: translateZ(0);
  will-change: transform, border-color;
}

/* ปรับปรุง transition ของ checkbox */
.checkbox-container {
  transition: all 0.1s ease;
  will-change: transform, background-color, border-color;
}

/* ปรับปรุง transition ของ text */
.customer-tab-text {
  transition: color 0.1s ease;
  will-change: color;
}

/* class input-error จะใช้กำหนด border สีแดงเมื่อมี error */
/**************** ขนาดหน้าจอ ไม่เกิน 1919  ****************/
@media (max-width: 1919px) {
  input,
  select,
  textarea {
    padding: 0.6253256905vw 0.8337675873vw;
    border: 0.0521104742vw solid #d1d5db;
    border-radius: 0.8858780615vw;
  }
  input:focus,
  select:focus,
  textarea:focus {
    box-shadow: 0 0 0 0.1563314226vw rgba(59, 130, 246, 0.5);
  }
  .input-error:focus, .otp-input.input-error:focus {
    border-color: var(--color-red);
    box-shadow: 0 0 0 0.1563314226vw rgba(239, 68, 68, 0.5);
  }
  .otp-input-error:focus, .otp-input.otp-input-error:focus {
    border-color: var(--color-red-base);
    box-shadow: 0 0 0 0.1563314226vw rgba(239, 68, 68, 0.5);
  }
  /* border */
  .border-color-blue {
    border: 0.1823866597vw solid var(--color-blue);
  }
  /* ===== Specific Components ===== */
  .register-container {
    perspective: 52.1104742053vw;
  }
  .register-profile-img {
    border: 0.5211047421vw solid #f6f9fc;
    box-shadow: 0 0.1563314226vw 0.2084418968vw rgba(69, 114, 167, 0.35);
    transform: translate(-50%, 6.5659197499vw);
  }
  .text-exceeds-w-box {
    width: calc(100% + 4.1688379364vw);
  }
  button.underline {
    text-underline-offset: 0.3647733194vw;
  }
  .customer-tab {
    border: 0.1042209484vw solid var(--color-gray-regular);
  }
  .customer-tab-active {
    border: 0.1563314226vw solid var(--color-blue);
  }
  .customer-tab-text {
    transform: translate(-50%, -50%);
  }
  /* Checkbox */
  .checkbox-container {
    border-radius: 0 0 0.5211047421vw 0;
  }
  .register-form-input {
    border: 0.1042209484vw solid var(--color-gray-regular);
  }
  /* OTP Input */
  .otp-input {
    border: 0.1563314226vw solid var(--color-blue);
    letter-spacing: 1.0422094841vw;
  }
  .otp-input:placeholder-shown {
    letter-spacing: 1.1464304325vw;
    font-size: 2.0844189682vw;
  }
  .otp-input:focus {
    box-shadow: 0 0 0 0.1563314226vw rgba(59, 130, 246, 0.5);
  }
  .pdpa-content {
    box-shadow: 0 0.0521104742vw 0.6774361647vw #4572a7;
  }
  .headText-pdpa {
    text-underline-offset: 0.260552371vw;
    text-decoration-thickness: 0.1042209484vw;
  }
  /*Success Page*/
  .success-container {
    perspective: 52.1104742053vw;
  }
  .character-divider {
    border-bottom: 0.0521104742vw solid #b5b5b5;
    width: 25.5341323606vw;
  }
  .check-icon-complete {
    margin-top: -4.4815007817vw;
  }
  .successSkeleton-title {
    margin-top: -0.7816571131vw;
  }
  /* Confirmation Page */
  .confirm-data {
    margin-left: -1.8238665972vw;
  }
  .confirm-data-box {
    gap: 2.0844189682vw 0;
  }
  /* สำหรับ Chrome/Safari autofill */
  input.register-form-input:-webkit-autofill,
  input.register-form-input:-webkit-autofill:focus,
  input.register-form-input:-webkit-autofill:hover,
  input.register-form-input:-webkit-autofill:active {
    /* เพิ่มตรงนี้เพื่อเปลี่ยนพื้นหลัง autofill เป็นสีขาว */
    -webkit-box-shadow: 0 0 0 52.1104742053vw white inset !important;
    box-shadow: 0 0 0 52.1104742053vw white inset !important;
  }
  .customer-tab-active {
    border: 0.1563314226vw solid var(--color-blue);
  }
}
/**************** ขนาดหน้าจอ ไม่เกิน 768  ****************/
@media (max-width: 768px) {
  input,
  select,
  textarea {
    padding: 1.5625vw 2.0833333333vw;
    border: 0.1302083333vw solid #d1d5db;
    border-radius: 2.2135416667vw;
  }
  input:focus,
  select:focus,
  textarea:focus {
    box-shadow: 0 0 0 0.390625vw rgba(59, 130, 246, 0.5);
  }
  .input-error:focus, .otp-input.input-error:focus {
    border-color: var(--color-red);
    box-shadow: 0 0 0 0.390625vw rgba(239, 68, 68, 0.5);
  }
  .otp-input-error:focus, .otp-input.otp-input-error:focus {
    border-color: var(--color-red-base);
    box-shadow: 0 0 0 0.390625vw rgba(239, 68, 68, 0.5);
  }
  /* border */
  .border-color-blue {
    border: 0.4557291667vw solid var(--color-blue);
  }
  /* ===== Specific Components ===== */
  .register-container {
    perspective: 130.2083333333vw;
  }
  .register-profile-img {
    border: 1.3020833333vw solid #f6f9fc;
    box-shadow: 0 0.390625vw 0.5208333333vw rgba(69, 114, 167, 0.35);
    transform: translate(-50%, 16.40625vw);
  }
  .text-exceeds-w-box {
    width: calc(100% + 10.4166666667vw);
  }
  button.underline {
    text-underline-offset: 0.9114583333vw;
  }
  .customer-tab {
    border: 0.2604166667vw solid var(--color-gray-regular);
  }
  .customer-tab-active {
    border: 0.390625vw solid var(--color-blue);
  }
  .customer-tab-text {
    transform: translate(-50%, -50%);
  }
  /* Checkbox */
  .checkbox-container {
    border-radius: 0 0 1.3020833333vw 0;
  }
  .register-form-input {
    border: 0.2604166667vw solid var(--color-gray-regular);
  }
  /* OTP Input */
  .otp-input {
    border: 0.390625vw solid var(--color-blue);
    letter-spacing: 2.6041666667vw;
  }
  .otp-input:placeholder-shown {
    letter-spacing: 2.8645833333vw;
    font-size: 5.2083333333vw;
  }
  .otp-input:focus {
    box-shadow: 0 0 0 0.390625vw rgba(59, 130, 246, 0.5);
  }
  .pdpa-content {
    box-shadow: 0 0.1302083333vw 1.6927083333vw #4572a7;
  }
  .headText-pdpa {
    text-underline-offset: 0.6510416667vw;
    text-decoration-thickness: 0.2604166667vw;
  }
  /*Success Page*/
  .success-container {
    perspective: 130.2083333333vw;
  }
  .character-divider {
    border-bottom: 0.1302083333vw solid #b5b5b5;
    width: 63.8020833333vw;
  }
  .check-icon-complete {
    margin-top: -11.1979166667vw;
  }
  .successSkeleton-title {
    margin-top: -1.953125vw;
  }
  /* Confirmation Page */
  .confirm-data {
    margin-left: -4.5572916667vw;
  }
  .confirm-data-box {
    gap: 5.2083333333vw 0;
  }
  /* สำหรับ Chrome/Safari autofill */
  input.register-form-input:-webkit-autofill,
  input.register-form-input:-webkit-autofill:focus,
  input.register-form-input:-webkit-autofill:hover,
  input.register-form-input:-webkit-autofill:active {
    /* เพิ่มตรงนี้เพื่อเปลี่ยนพื้นหลัง autofill เป็นสีขาว */
    -webkit-box-shadow: 0 0 0 130.2083333333vw white inset !important;
    box-shadow: 0 0 0 130.2083333333vw white inset !important;
  }
  .customer-tab-active {
    border: 0.390625vw solid var(--color-blue);
  }
}

/*# sourceMappingURL=register.css.map */
